 .navbar{
    position: sticky;
    top: 0;
    display: flex;
    background-color:transparent ;
    width: 15vw;
    margin-top: 10px;
}
#appIcon{
    margin-right: 30px;


}

.navbar h1{
    font-style: italic;
    text-shadow: 2px 0.3px 0.2px;
    margin-right: 25px;
    margin-top: -10px;
}

.elements{
    display: flex;
    width: 40vw;
}

.elements li{
    display: flex;

} 
.icons input{
    width: 280px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(92, 88, 88);

}
.icons{
    display: flex;
    width: 500px;
    padding: 5px;

}
.icons div{
    margin-left: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
